{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Bootstrap -->
    <link href="/static/css/main.css" rel="stylesheet">

      <header id="header" class="header" itemscope="" itemtype="http://schema.org/WPHeader">
      <div class="header-inner">
          <div class="site-meta ">
              <div class="custom-logo-site-title">
                <a href="/" class="brand" rel="start" style="opacity: 1;">
                  <span class="logo-line-before"><i class="" style="transform: translateX(100%);"></i></span>
                  <span class="site-title" style="opacity: 1; top: 0px;"> LAsbun's Blog</span>
                  <span class="logo-line-after"><i class="" style="transform: translateX(-100%);"></i></span>
                </a>
              </div>
          </div>
          <div>

             <nav class="site-nav">
                 <ul id="menu" class="menu ">
                     <li class="menu-item menu-item-home" style="opacity: 1; transform: translateY(0px);">
                         <a href="/" rel="section"><i class="menu-item-icon fa fa-home fa-fw"></i> <br>标签</a>
                     </li>
                 </ul>
             </nav>

             <nav class="site-nav">
                 <ul id="menu" class="menu ">
                     <li class="menu-item menu-item-home" style="opacity: 1; transform: translateY(0px);">
                         <a href="/" rel="section"><i class="menu-item-icon fa fa-home fa-fw"></i> <br>分类</a>
                     </li>
                 </ul>
             </nav>

             <nav class="site-nav">
                 <ul id="menu" class="menu ">
                     <li class="menu-item menu-item-home" style="opacity: 1; transform: translateY(0px);">
                         <a href="/" rel="section"><i class="menu-item-icon fa fa-home fa-fw"></i> <br>关于</a>
                     </li>
                 </ul>
             </nav>

             <nav class="site-nav">
                 <ul id="menu" class="menu ">
                     <li class="menu-item menu-item-home" style="opacity: 1; transform: translateY(0px);">
                         <a href="/archieve/" rel="section"><i class="menu-item-icon fa fa-home fa-fw"></i> <br>归档</a>
                     </li>
                 </ul>
             </nav>

             <nav class="site-nav">
                 <ul id="menu" class="menu ">
                     <li class="menu-item menu-item-home" style="opacity: 1; transform: translateY(0px);">
                         <a href="/" rel="section"><i class="menu-item-icon fa fa-home fa-fw"></i> <br>首页</a>
                     </li>
                 </ul>
             </nav>

          </div>
        </div>
          <!--
        <div class="site-nav-toggle">
          <button>
            <span class="btn-bar"></span>
            <span class="btn-bar"></span>
            <span class="btn-bar"></span>
          </button>
        </div>
            -->
      </header>
  </head>

  <body>

          {% block content %}{% endblock content%}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
  </body>
</html>
