{% extends 'base.html' %}
{% block content %}
<div class="content">
        {% for article in article_list %}
            <h2 style="color: #787888" >{{ article.title }}</h2>
            <br>
            <h4 style="color: #C9DBED;"> {{ article.create_time }}</h4>
            <br>
            <h3>
                {% autoescape off %}
                    {{ article.content }}
                {% endautoescape %}
            </h3>
            <a href="{% url 'article' article.id %}">阅读全文</a>
        {% endfor %}
    </div>
    {% include 'foot.html' %}
{% endblock content %}
