{% extends 'base.html' %}


{% block index_content %}
    {% for article in article_list %}
        <div class="single-blog">
            <article>
                <h4 class="post-title"><a href="">{{ article.title }}</a></h4>
                <div class="post-meta text-uppercase">
                    <span>{{ article.create_time }}</span>
                    <span>By <a href="">{{ article.author }}</a></span>

                </div>
                <div class="post-article">
                    {% autoescape off %}
                        {{ article.content|slice:'350'}}
                    {% endautoescape %}
                </div>
                <br>
                <a href="{% url 'article' article.id %}" class="btn btn-readmore">Read More</a>
            </article>
        </div>
    {% endfor %}
{% endblock %}


{%  block pagination %}
    <div class="pagination paper">
    <span class="step-links">
        {% if article_list.has_previous %}
            <a class="btn btn-default" href="?page={{ article_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ article_list.number }} of {{ article_list.paginator.num_pages }}.
        </span>

        {% if article_list.has_next %}
            <a class="btn btn-default" href="?page={{ article_list.next_page_number }}">next</a>
        {% endif %}
    </span>
    </div>
    </div>
{% endblock %}