{% extends 'base.html' %}

{% block index_content %}
    <div class="single-blog">

        <article>
            <h4 class="post-title"><a href="">{{ article.title }}</a></h4>
            <div class="post-meta text-uppercase">
                <span>{{ article.create_time }}</span>
                <span>By <a href="">{{ article.author }}</a></span>
            </div>
            <div class="post-article">
                {% autoescape off %}
                    {{ article.content}}
                {% endautoescape %}
            </div>
        </article>
    </div>
{% endblock %}