{% extends 'base.html' %}


{% block index_content %}
    {% for article in article_list %}
        <div class="single-blog">
            <article>
                <h4 class="post-title"><a href="">{{ article.title }}</a></h4>
                <div class="post-meta text-uppercase">
                    <span>{{ article.create_time }}</span>
                    <span>By <a href="">{{ article.author }}</a></span>

                </div>
                <div class="post-article">
                    {% autoescape off %}
                        {{ article.content|slice:'350'}}
                    {% endautoescape %}
                </div>
                <br>
                <a href="{% url 'article' article.id %}" class="btn btn-readmore">Read More</a>
            </article>
        </div>
    {% endfor %}
{% endblock %}


